* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    background-color: #F55A5A;
    color: white;
    height: 50px;
    justify-content: center;
    padding-bottom: 4rem ;
}