* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  background-color: #f55a5a;
  color: white;
  height: 50px;
  justify-content: center;
  padding-bottom: 4rem;
}

.main-card {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.main-card > img {
  height: 300px;
  width: 300px;
  overflow: hidden;
}

hr {
  width: 83%;
}

.main-item1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-item1 > a {
    text-decoration: underline;
    color: grey;
    font-size: .8rem;
}

.icon {
   color: #f55a5a
}

.main-card span {
    font-weight: bold;
}